<p>{{title}}</p>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <h4>Forecast By City:</h4>
        <div class="form-group">
            <label for="lat">City: </label>
            <input type="text" class="form-control" ng-model="city" id="lat" />
            <label for="lon">State: </label>
            <input type="text" class="form-control" ng-model="state" id="lon" />
            <label for="country">Country: </label>
            <input type="text" class="form-control" ng-model="country" id="country" />
        </div>
        <a href="#!/forecast" class="btn btn-primary">Get Forecast</a>
    </div>
</div>

<!-- <div ng-include="'templates/testInclude.html'">yes</div> -->