<p>{{title}}</p>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <h4>Forecast By City:</h4>
        <div class="form-group">
            <label for="city">City: </label>
            <input type="text" class="form-control" ng-model="city" id="city" />
            <label for="state">State: </label>
            <input type="text" class="form-control" ng-model="state" id="state" />
            <label for="country">Country: </label>
            <input type="text" class="form-control" ng-model="country" id="country" />
        </div>
        <a href="#!/forecast" class="btn btn-primary">Get Forecast</a>
    </div>
</div>