<!DOCTYPE html>
<html lang="en-us" ng-app="app">
    <head>
        <title>Learn AngularJS</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="main-contain">
            <h3>Notes</h3>

            
            <div ng-controller="appController">
                <p>Create A Note with {{ interpolationStr }}:</p>
                <form name="noteForm">
                    <input type="text" ng-model="titleField" name="title" required minlength="2"/>
                    <input type="submit" value="Submit" />
                    <div ng-messages="noteForm.title.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="minlength">The value you entered is too short</div>
                    </div>
                </form>
                <br>
            </div>

            <!-- <div ng-controller="httpController"> -->
            <div>
                <div ng-if="response">
                    <h3>Data is Available!</h3>
                    <input type="button" value="Show" ng-click="showData()">
                </div>

                <!-- ng-cloak hides the element until its been proccessed by angular. 
                    Prevents element from being seen for a split second before being proccessed -->
                <div ng-cloak ng-show="showDataVar">
                    <h1>Data</h1>
                    <ul>
                        <li ng-repeat="data in response.data.obj">
                            {{ data.val }}
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
         
        <script src="//code.angularjs.org/1.8.0/angular.min.js"></script>
        <script src="//code.angularjs.org/1.8.0/angular-messages.min.js"></script>
        <script src="//code.angularjs.org/1.8.0/angular-route.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>